/*
nav{
position: fixed;
padding: 0px;
}*/

.brown {
    color: #786E5E;
}
.underline {
    text-decoration: underline;
}
.btnbrn {
    --button-color: #786E5E;
    --button-background-color: #786E5E;
}
.theme {
    font-family: 'Montserrat', sans-serif;;
    color: #786E5E;
}
hr{
    border-width: 2px;
    height: 1px;
    /* Set the hr color */
    background-color: #786E5E;
}
button {
    margin: 20px;
    padding: 20px;
}
ul {
    list-style-type: none;
}
.logos {
    margin: 10px;
    width: 60px;
    height: 60px;
}

textarea {
    resize: none;
}
.verticalLine {
    border-left: solid #786E5E;
    height: 400px;
    width: 5px;
    position: absolute;
    left: 50%;
}
.unstyled-button {
    border: none;
    padding: 0;
    background: none;
    font-family: 'Montserrat', sans-serif;
}
.bottom-left {
    position: static;
    bottom: 8px;
    left: 16px;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 5px;
}
button {
    margin: 0 7px;
}
.card-img-top {
    position: static;
}
.title-1 {
    text-transform: uppercase;
    font-size: 33px;
    color: #786e5e;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}
.logoscards {
    margin: 10px;
    width: 25px;
    height: 25px;
}
.contactlogos {
    margin: 10px;
    width: 20px;
    height: 20px;
}
.footerlogos {
    width: 32px;
    height: 32px;
}